.searchBar {
    width: 400px;
    height: 40px;
    border-radius: 6px;
    padding: 9px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color:#F2F2F2 ;
}
.searchBar img{
    height: 16px;
    width: 16px;
}
.searchBar::placeholder{
    font-size: 15px;
    line-height: 22px;
    color: #808080;
    font-weight: 400;
}
.searchBar input{
    background-color: transparent;
    font-size: 15px;
    line-height: 22px;
    color: #808080;
    font-weight: 400;
}
.searchBar input:focus{
    outline: none;

}